*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
 
body{
	padding: 50px 50px;
}

div{
	margin: 0px 0px 50px 0px;
}

.oval{
	width: 300px;
	height: 150px;
	background-color: gray;
	border-radius: 50%;
}

.tringle-up{
	width: 0;
	height: 0;
	border-left: 50px solid transparent;	
	border-right: 50px solid transparent;
	border-bottom: 150px solid green;
}

.triangle-down{
	width: 0;
	height: 0;
	border-left: 50px solid transparent;	
	border-right: 50px solid transparent;
	border-top: 150px solid red;

}

.triangle-left
{
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 150px solid gray;
	border-bottom: 50px solid transparent;	
	
	

}

.triangle-right
{
	width: 0;
	height: 0;
	border-left: 150px solid #000;	
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;

}

.parallelogram{
	width: 200px;
	height: 100px; 
	background-color: green;
	transform: skew(15deg);
	
}

.trapezoid{
	width: 200px;
	border-bottom: 100px solid green;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
}
