// Файл обнуляющих стилей
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import "nullstyle.scss";
body{
	font-family: "Lato";
}
.about {

	&__body {
		
	}

	&__header {
	}

	&__title {
		margin: 0px 0px 30px 0px;
	}

	&__text {
	}

	&__row {
	}

	&__colum {
	}
}
.title {
	font-size: 34px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 8.95px;
	position: relative;
	text-align: center;
	padding: 0 0 30px 0;
	&::after{
		content: '';
		position: absolute;
		width: 81px;
		bottom: 0;
		left: 50%;
		height: 1px;
		background-color: #000;
		margin: 0px 0px 0px -45px;
	}
}
.item-about {

	&__icon {
	}

	&__title {
	}

	&__text {
	}
}
