@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: rgb(70, 69, 66);
}

.wrapper {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header {
  background-color: rgb(92, 52, 3);
  display: grid;
  height: 100px;
  grid-template: repeat(1, 1fr)/repeat(2, 30% 70%);
  align-items: center;
}
.header__logo {
  display: inline-block;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  background-color: #fff;
  margin: auto;
}
.header__menu {
  text-transform: uppercase;
}
@media (max-width: 800px) {
  .header__menu {
    display: none;
  }
}
.header__list {
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(4, 25%);
  justify-items: center;
}
.header__link {
  color: #fff;
}
.main {
  display: grid;
  margin: 0px 10% 20px 10%;
  grid-template: repeat(1, 1fr)/repeat(2, 25% 75%);
  color: #fff;
}
@media (max-width: 860px) {
  .main {
    display: block;
  }
}
.main__menu {
  background-color: rgb(111, 152, 112);
  padding: 20px 0 10px 20px;
  margin: 20px 20px 20px 0px;
}
@media (max-width: 860px) {
  .main__menu {
    margin: 20px 0px 20px 0px;
  }
}
@media (max-width: 720px) {
  .main__list {
    display: grid;
    grid-template: repeat(1, 1fr)/repeat(2, 1fr);
  }
}
.main__link {
  display: inline-block;
  margin: 0px 0px 20px 0px;
  color: #fff;
  font-size: 16px;
}
@media (max-width: 860px) {
  .main__link {
    margin: 0px 0px 10px 0px;
  }
}
.main__contain {
  margin: 20px 0px 20px 0px;
}
.main__titel {
  font-size: 30px;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 800px) {
  .main__titel {
    font-size: 24px;
  }
}
.main__titel-galery {
  font-size: 24px;
  margin: 0px 0px 10px 0px;
}
@media (max-width: 800px) {
  .main__titel-galery {
    font-size: 16px;
  }
}
.main__content-galery {
  display: grid;
  margin: 0px 0px 20px 0px;
  grid-template: repeat(4, 1fr)/repeat(4, 1fr);
  gap: 5px;
}
.main__content-galery :first-child {
  grid-row: span 2;
  grid-column: span 2;
}
.main__content-galery :nth-child(8) {
  grid-row: span 2;
  grid-column: span 2;
}
@media (max-width: 1200px) {
  .main__content-galery {
    grid-template: repeat(5, 1fr)/repeat(2, 1fr);
  }
  .main__content-galery :first-child {
    grid-row: span 1;
    grid-column: span 1;
  }
  .main__content-galery :nth-child(8) {
    grid-row: span 1;
    grid-column: span 1;
  }
}
@media (max-width: 860px) {
  .main__content-galery {
    grid-template: repeat(5, 1fr)/repeat(2, 1fr);
  }
  .main__content-galery :nth-child(1) {
    grid-row: span 2;
    grid-column: span 2;
  }
  .main__content-galery :nth-child(6) {
    grid-row: span 2;
    grid-column: span 2;
  }
  .main__content-galery :nth-child(8) {
    grid-row: 4/7;
    grid-column: 1/3;
  }
  .main__content-galery :nth-child(10) {
    grid-row: span 2;
    grid-column: span 2;
  }
}
@media (max-width: 600px) {
  .main__content-galery {
    grid-template: repeat(10, 1fr)/repeat(1, 1fr);
  }
  .main__content-galery :nth-child(1) {
    grid-row: span 1;
    grid-column: span 1;
  }
  .main__content-galery :nth-child(6) {
    grid-row: span 1;
    grid-column: span 1;
  }
  .main__content-galery :nth-child(8) {
    grid-row: span 1;
    grid-column: span 1;
  }
  .main__content-galery :nth-child(10) {
    grid-row: span 1;
    grid-column: span 1;
  }
}
.main__title-product {
  font-size: 24px;
  margin: 0px 0px 10px 0px;
}
@media (max-width: 800px) {
  .main__title-product {
    font-size: 16px;
  }
}
.main__products {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 33%);
  gap: 40px 5px;
}
@media (max-width: 720px) {
  .main__products {
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
    gap: 40px 15px;
  }
}
@media (max-width: 600px) {
  .main__products {
    grid-template: repeat(6, 1fr)/repeat(1, 1fr);
  }
}

.photo img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-container__product-photo {
  margin: 0px 0px 20px 0px;
}
.product-container__product-photo img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-container__product-text {
  margin: 0px 0px 20px 0px;
}
.product-container__product-button {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 20px;
  background-color: rgb(149, 103, 62);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer {
  background-color: rgb(177, 127, 223);
  display: grid;
  min-height: 70px;
  padding: 20px 0;
  grid-template: repeat(1, 1fr)/repeat(2, 1fr);
  align-items: center;
}
.footer :last-child {
  justify-self: end;
}
.footer__text1 {
  color: #fff;
  letter-spacing: 1px;
  margin: 0px 0px 0px 20%;
}
@media (max-width: 600px) {
  .footer__text1 {
    text-align: center;
    margin: 0;
  }
}
.footer__text2 {
  color: #fff;
  letter-spacing: 1px;
  margin: 0px 20% 0px 0;
}
@media (max-width: 600px) {
  .footer__text2 {
    text-align: center;
    grid-row: 1/1;
  }
}
@media (max-width: 600px) {
  .footer {
    grid-template: repeat(2, 1fr)/repeat(1, 1fr);
    gap: 10px;
  }
}