// Файл обнуляющих стилей

@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');

@import "nullstyle.scss";

body{
	font-family: "lato";
}

.wraper{
	max-width: 1600px;
	margin: 0 auto;

}

.main {
	height: 800px;
	background: url(../img/bg_2.jpg) 50% 50%/cover no-repeat;
	padding: 40px 0 0 0;

	@media (max-width:1600px) {
		padding: 30px 0 0 0;
		height: 700px;
	}
	@media (max-width:1200px) {
		padding: 20px 0 0 0;
		height: 600px;
	}

	@media (max-width:992px) {
		padding: 10px 0 0 0;
		height: 500px;
	}

	@media (max-width:767px) {
		padding: 10px 0 0 0;
		height: 300px;
	}

	&__column {
		display: flex;

	}
}

.container {
	max-width: 700px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width:1200px){
		max-width: 600px;
	}
	@media (max-width:992px){
		max-width: 500px;
	}
	@media (max-width:767px){
		max-width: 400px;
	}
	
}
.main-menu {
	font-size: 13px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #4d4959;

}
.main-menu-list {
	display:flex;
	min-width: 220px;
	justify-content: space-between;

	@media (max-width:1200px){
		max-width: 200px;
	}
	@media (max-width:992px){
		min-width: 180px;
	}
	@media (max-width:767px){
		min-width: 160px
	}
}
.logo {
	display: flex;
	max-width: 100%;
	margin: 10px 0px 0px 0px;

	@media (max-width:1200px){
		justify-content: center;
	}

	@media (max-width:992px) {
		justify-content: center;

	}
	@media (max-width:767px){
		justify-content: center;
	}

	img{
		@media (max-width:1200px) {
			max-width: 90%;
		}
		@media (max-width:992px) {
			max-width: 70%;
		}
		@media (max-width:767px){
			max-width: 50%;
		}
	}
}

//

.generation {
	max-height: max-content;
	padding: 117px 0;
	background-color: #f7f7f7;

	@media (max-width:1600px) {
		padding: 80px 0
	}
	@media (max-width:1200px) {
		padding: 60px 0
	}

	@media (max-width:992px) {
		padding: 40px 0
	}

	@media (max-width:767px) {
		padding: 20px 0
	}

	&__column {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}


	&__icon {
		img{
			@media (max-width:1200px) {
				max-width: 90%;
			}
			@media (max-width:992px) {
				max-width: 70%;
			}
			@media (max-width:767px){
				max-width: 50%;
			}
		}
	}
	

	&__title {
		margin: 34px 0;
		padding: 0 200px;
		@media (max-width:992px) {
			margin: 25px;
		}
		@media (max-width:767px){
			margin: 15px;
		}
	}

	&__text {
		font-size: 18px;
		line-height: 34px;
		color: #848789;
		@media (max-width:767px){
			font-size: 14px;
			line-height: 24px;
		}
	}
}

.container-gen {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 25px;

}
.title {
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #353738;



}

//

.vintage {


	&__image {
		position: relative;
		display:flex;
		width: 66.666%;
		@media (max-width:1200px) {
			width: 100%;
		}
	
		.image-1{
			
			@media (max-width:1200px) {
				width: 100%;
			}
			img{
				max-width: 100%;
				height: 100%;
				object-fit: cover;
				

				@media (max-width:1200px) {
				width: 100%;
				}	
			}
		}

		.image-2{
			position: absolute;
			right: 45%;
			bottom: 40%;
			opacity: 0.8;
		}
	}
		
	&__column {
		display:flex;
		flex-direction: column;
		width: 33.333%;
		position: relative;
		.image-3{
			max-width: 100%;
			height: 100%;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.image-2{
			position: absolute;
			top: 45%;
			left: 30%;
			opacity: 0.8;
		}
		
		@media (max-width:1200px) {
			width: 50%;
			&:last-child{
				display: none;
			}
		}
		@media (max-width:767px){
			width: 100%;
			&:last-child{
				display: flex;
			}
		}

	}

	&__body {
	}

	&__icon {
	}

	&__title {
		text-align: center;
		padding: 0 40px;
	}

	&__text {
		
	}

	&__image-small {
		display:flex;
		height: 200px;
		img{
			min-width: 100%;
			min-height: 100%;
			object-fit: cover;
			@media (max-width:1200px) {
				width: 100%;
			}
		}
	}
}

.container-vin {
	display:flex;
	flex-wrap: wrap;
	@media (max-width:1200px) {
		flex-wrap: wrap;
	}
	@media (max-width:767px){
		display: block;
	}

}

.body-text {
	display:flex;
	flex-direction: column;
	align-items: center;
	padding: 8% 30px 8% 30px;
	flex: 1 1 auto;


	
}
.icon-column {
	margin: 0 0 8% 0;
	img{

	}

}
.title {
}

.text-column {
	font-size: 16px;
	line-height: 29px;
	color: #848789;
	text-align: center;
	margin: 25px 0px 0 0px;
	padding: 0 0 20px  0;
	position: relative;
	&::after{
		content: '';
		width: 50px;
		height: 2px;
		background-color: rgba(0, 6, 8, 0.2);
		position: absolute;
		margin: 0px 0px 0px -20px;
		bottom: 0;
		left: 50%;
	}
	@media (max-width:767px){
		font-size: 14px;
		line-height: 24px;
	}
}

//

.tvit {
	display: flex;
	padding: 5% 0;
	background-color: #f7f7f7;
	&__icon-tvit {
			max-width: 100%;
	}

	&__title-tvit {
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		letter-spacing: 0.1em;
		color: #353738;
		margin: 4% 0;
		p{
			display: inline-block;
		}
		p:last-child{
			font-weight: 300;
			color: #848789;		
		}
		@media (max-width:767px){
			font-size: 14px;
			line-height: 24px;
		}
	}

	&__text {
		font-size: 24px;
		line-height: 34px;
		font-weight: 400;
		font-style: italic;
		color: #848789;

		@media (max-width:767px){
			font-size: 18px;
			line-height: 24px;
		}
	}
}
.container-gen {
	text-align: center;
}

//

.photo {

	&__column {
		display: flex;
		flex-direction: column;
		max-width: 33.333%;
		flex: 0 1 auto;
		
	}

	&__image {
		display:flex;
		flex: 0 1 auto;
		img{
			max-width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__image-2{
		display: flex;
		img{
			max-width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.container-photo {
	display: flex;

}

//

.button-container {
	display: flex;
	justify-content: center;
	padding:5% 0;
	background-color: #282f35;

	&__button {
		display: flex;
		max-width:max-content;
		border: 3px solid #ffffff51;
		padding: 20px 50px;
		@media (max-width:1200px){
			padding: 15px 30px;
		}
		
	}

	&__name {
		font-size: 14px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #ffffffb1;
	}
}

//

.input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 6% 0;

	&__logo {
	}

	&__text {
		margin: 40px 0;
		font-size: 24px;
		line-height: 34px;
		font-style: italic;
		color: #848789;
	}

	&__input {
		display: flex;
	}

	&__textarea-container {
		display: flex;
		align-items: center;
		width: 400px;
		height: 69px;
		border: 1px solid #d3d7d9;
		margin: 0px 15px 0px 0px;
		padding: 0 0 0 10px;

	}

	&__textarea {
		font-size: 20px;
		line-height: 24px;
		font-style: italic;
		color: #929292;
	}

	&__submit {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 126px;
		height: 69px;
		background-color: #64c29e;

		font-size: 24px;
		line-height: 24px;
		font-weight: 300;
		color: #ffffff;
	}
}

//

.footer {
	display: flex;
	justify-content: center;
	background-color: #f7f7f7;
	padding: 5% 0;


	&__container {
		display:flex;
		justify-content:space-between;
		width: 70%;
		align-items: center;

	}

	&__text {
		display: flex;
		flex-direction: column;
		color: #848789;
		line-height: 17px;
		:first-child{
			font-size: 16px;
			font-weight: 700;
		}
		p{	
			font-size: 13.9px;
			font-style: italic;
		}
	}

	&__link {
		display: flex;
	}

	&__handcraft {

		display: flex;
		align-items: center;
	}
}
.footer-link {
	margin: 0px 5px;
}

.handcraft-text {
	font-size: 13.9px;
	line-height: 17px;
	font-weight: 400;
	font-style: italic;
	color: #848789;
	margin: 0px 10px 4px 0px;
}

.handcraft-link {
}





