@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #333;
  color: #fff;
}

.full-screen {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.full-screen__body {
  background-color: rgba(0, 0, 0, 0.341);
  padding: 50px 15px;
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
}
.full-screen__title {
  font-size: 50px;
  letter-spacing: 25px;
  font-weight: 700;
  margin: 0px 0px 50px 0px;
}
.full-screen__text {
  font-size: 24px;
  letter-spacing: 10px;
}
.full-screen__video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
  background-color: #794f45;
  padding: 50px 50px;
  align-items: center;
  justify-content: center;
}
.content__audio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 13px 13px;
  margin: 0px 0px 50px 0px;
  border-radius: 40px;
  background-color: rgba(27, 88, 40, 0.532);
}
.content__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 16px;
  line-height: 150%;
}
.content__container p {
  margin: 0px 0px 20px 0px;
}