@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Lato";
}

.start {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  padding: 165px 0 0px 0;
  background: url("/img/bg_header_743.png");
  color: #ffffff;
}
.start__body {
  max-width: 850px;
  margin: 0px auto 0px auto;
}
.start__logotip {
  width: 195px;
  height: 123px;
  margin: 0px auto 165px auto;
}
.start__title {
  text-align: center;
  line-height: 40px;
}
.start__title p:nth-child(1) {
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
}
.start__title p:nth-child(2) {
  font-size: 26px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0.16em;
  margin: 0px 0px 50px 0px;
}
.start__title::after {
  content: "";
  width: 105px;
  height: 2px;
  border: 1px solid #ffffff;
  position: absolute;
  margin: 0px 0px 100px 0px;
  bottom: 0;
  left: 50%;
}
.start__page {
  text-align: center;
  width: 182px;
  height: 47px;
  border: 1px solid #ffffff;
  margin: 0 auto 100px auto;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  padding: 12px 0 0 0;
}

.about__body {
  max-width: 823px;
  margin: 0 auto;
}
.about__header {
  margin: 0px 0px 65px 0px;
}
.about__title {
  margin: 0px 0px 30px 0px;
}
.about__text {
  max-width: 688px;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 25.89px;
  margin: 0 auto;
}
.about__row {
  display: flex;
  margin: 0 -15px;
}
.about__colum {
  padding: 0 15px;
  flex: 0 0 33.333%;
}

.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: relative;
  text-align: center;
  padding: 0 0 30px 0;
}
.title::after {
  content: "";
  position: absolute;
  width: 81px;
  bottom: 0;
  left: 50%;
  height: 1px;
  background-color: #000;
  margin: 0px 0px 0px -45px;
}

.item-about__icon {
  margin: 0px auto 40px auto;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  border: 2px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-about__title {
  text-align: center;
  color: #000;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3.52px;
  margin: 0px 0px 35px 0px;
}
.item-about__text {
  text-align: center;
}