/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
//html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
//h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

html, body{
	height: 100%;
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 20px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.fullscreen {
	background-color: #666;
	padding: 20px;
	display: flex;
	min-height: 100vh;
	font-size: 16px;

		&__content {
			background-color: #794f45;
			text-align: center;
			justify-content: center;
			flex: 1 1 auto;
			max-width: 1000px;
			width: 100%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			padding: 20px 100px;
		}

		&__title {
			letter-spacing: 2px;
			margin: 0px 0px 20px 0px;
			font-size: 50px;

		}

		&__text {
			margin: 0px 0px 20px 0px;
		}

		&__link {
			display: inline-block;
			color: #fff;
			line-height: 50px;
			background-color: #333;
			letter-spacing: 2px;
			align-self: center;
			padding: 0 30px;
			border-radius: 25px;
		}

		&__content2 {
			background-color: rgb(48, 43, 43);
			padding: 50px 150px;
			p{
				margin: 0px 0px 20px 0px;
			}
		}

		&__content3 {
			background-color: cadetblue;
			padding: 50px 150px;
		}
}
.footer {
	text-align: center;
	padding: 20px 0;
	font-size: 14px;
}







