
@import "nullstyle.scss";

body{
	background-color: rgb(70, 69, 66);
}
.wrapper {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	
}
.header {
	background-color: rgb(92, 52, 3);
	display: grid;
	height: 100px;
	grid-template: repeat(1, 1fr) / repeat(2, 30% 70%);
	align-items: center;

		&__logo {
			display: inline-block;
			width: 100px;
			height: 50px;
			border-radius: 50px;
			background-color: #fff;
			margin: auto;
		}

		&__menu {
			text-transform: uppercase;
			@media (max-width: 800px){
				display: none;
		
			}
			
		}

		&__list {
			display: grid;
			grid-template: repeat(1, 1fr) / repeat(4, 25%);
			justify-items: center;
		}

		&__link {
			color: #fff;
		}

		&__burger {
		}
}
.main {
	display: grid;
	margin: 0px 10% 20px 10%;
	grid-template: repeat(1, 1fr) / repeat(2, 25% 75%);
	color: #fff;

	@media (max-width: 860px){
		display: block;
	}

		&__menu {
			background-color:rgb(111, 152, 112);
			padding: 20px 0 10px 20px;
			margin: 20px 20px 20px 0px;

			@media (max-width: 860px){
			margin: 20px 0px 20px 0px;
			}
		}

		&__list {
			@media (max-width: 720px){
				display: grid;
				grid-template: repeat(1, 1fr) / repeat(2, 1fr);
			}

		}

		&__link {
			display: inline-block;
			margin: 0px 0px 20px 0px;
			color: #fff;
			font-size: 16px;

				@media (max-width: 860px){
					margin: 0px 0px 10px 0px;
				}

		}

		//

		&__contain {
			margin: 20px 0px 20px 0px;
		}

		&__titel {
			font-size: 30px;
			margin: 0px 0px 30px 0px;
			
			@media (max-width: 800px){
				font-size: 24px;
				}
		}

		&__titel-galery {
			font-size: 24px;
			margin: 0px 0px 10px 0px;

			@media (max-width: 800px){
				font-size: 16px;
				}
		}

		&__content-galery {
			display: grid;
			margin: 0px 0px 20px 0px;
			grid-template: repeat(4, 1fr) / repeat(4, 1fr);
			gap: 5px;
			:first-child{
				grid-row: span 2;
				grid-column: span 2;
			}
			:nth-child(8){
				grid-row: span 2;
				grid-column: span 2;
			}

			@media (max-width: 1200px){
				grid-template: repeat(5, 1fr) / repeat(2, 1fr);

				:first-child{
					grid-row: span 1;
					grid-column: span 1;
				}
				:nth-child(8){
					grid-row: span 1;
					grid-column: span 1;
				}
			}

			@media (max-width: 860px){
				grid-template: repeat(5, 1fr) / repeat(2, 1fr);
				:nth-child(1){
					grid-row: span 2;
					grid-column: span 2;
				}
				:nth-child(6){
					grid-row: span 2;
					grid-column:span 2;
				}

				:nth-child(8){
					grid-row: 4/7;
					grid-column:1/3;
				}

				:nth-child(10){
					grid-row: span 2;
					grid-column: span 2;
				}
			}

			@media (max-width: 600px){
				grid-template: repeat(10, 1fr) / repeat(1, 1fr);
				:nth-child(1){
					grid-row: span 1;
					grid-column: span 1;
				}
				:nth-child(6){
					grid-row: span 1;
					grid-column:span 1;
				}

				:nth-child(8){
					grid-row: span 1;
					grid-column: span 1;
				}

				:nth-child(10){
					grid-row: span 1;
					grid-column: span 1;
				}
			}
			
		}

		&__content-product {

		}

		&__title-product {
			font-size: 24px;
			margin: 0px 0px 10px 0px;

			@media (max-width: 800px){
				font-size: 16px;
				}
		}

		&__products{
			display: grid;
			grid-template: repeat(2, 1fr) / repeat(3, 33%);
			gap: 40px 5px;

			@media (max-width: 720px){
				grid-template: repeat(3, 1fr) / repeat(2, 1fr);
				gap: 40px 15px;
			}

			@media (max-width: 600px){
				grid-template: repeat(6, 1fr) / repeat(1, 1fr);
			}
		}
}
.photo {
	img{
		max-width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.product-container {

		&__product-photo{
			margin: 0px 0px 20px 0px;
			img{
				max-width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__product-text {
			margin: 0px 0px 20px 0px;
		}

		&__product-button {
			display: block;
			width: max-content;
			padding: 10px 20px;
			background-color: rgb(149, 103, 62);
			color: #fff;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
}

.footer {
	background-color: rgb(177, 127, 223);
	display: grid;
	min-height: 70px;
	padding: 20px 0;
	grid-template: repeat(1, 1fr) / repeat(2, 1fr);
	align-items: center;
	:last-child{
		justify-self: end;
	}

		&__text1 {
			color: #fff;
			letter-spacing: 1px;
			margin: 0px 0px 0px 20%;

			@media (max-width: 600px){
				text-align: center;
				margin: 0;
			}
		}

		&__text2 {
			color: #fff;
			letter-spacing: 1px;
			margin: 0px 20% 0px 0;
			@media (max-width: 600px){
				text-align: center;
				grid-row: 1/1;
			}
		}

	@media (max-width: 600px){
		grid-template: repeat(2, 1fr) / repeat(1, 1fr);
		gap: 10px;
	}
}
