@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: rgb(80, 67, 45);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  padding: 50px 0 0 100px;
}

.container {
  display: flex;
  justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.container::after {
  content: "";
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: url(../img/v2_600x600.jpg) 0 0/100% 100% no-repeat;
  position: absolute;
  top: 217px;
  left: 198px;
}
@-webkit-keyframes drop {
  0% {
    width: 0px;
    height: 0px;
  }
  30% {
    top: 214px;
    left: 185px;
    height: 150px;
    width: 30px;
  }
  50% {
    height: 70px;
  }
  65% {
    top: 470px;
    height: 50px;
  }
  70% {
    width: 90px;
    left: 200px;
  }
  100% {
    top: 300px;
    height: 70px;
    width: 70px;
    left: 230px;
  }
}
@keyframes drop {
  0% {
    width: 0px;
    height: 0px;
  }
  30% {
    top: 214px;
    left: 185px;
    height: 150px;
    width: 30px;
  }
  50% {
    height: 70px;
  }
  65% {
    top: 470px;
    height: 50px;
  }
  70% {
    width: 90px;
    left: 200px;
  }
  100% {
    top: 300px;
    height: 70px;
    width: 70px;
    left: 230px;
  }
}
@-webkit-keyframes coup-img {
  0% {
    top: 300px;
    height: 70px;
    width: 70px;
    left: 230px;
    transform: rotate(0deg);
  }
  20% {
    height: 70px;
    width: 70px;
  }
  33% {
    top: 460px;
    height: 60px;
    width: 90px;
    left: 250px;
  }
  67% {
    top: 350px;
    height: 70px;
    width: 70px;
    left: 280px;
  }
  90% {
    top: 460px;
    height: 60px;
    width: 80px;
  }
  100% {
    top: 450px;
    height: 70px;
    width: 70px;
    left: 300px;
  }
}
@keyframes coup-img {
  0% {
    top: 300px;
    height: 70px;
    width: 70px;
    left: 230px;
    transform: rotate(0deg);
  }
  20% {
    height: 70px;
    width: 70px;
  }
  33% {
    top: 460px;
    height: 60px;
    width: 90px;
    left: 250px;
  }
  67% {
    top: 350px;
    height: 70px;
    width: 70px;
    left: 280px;
  }
  90% {
    top: 460px;
    height: 60px;
    width: 80px;
  }
  100% {
    top: 450px;
    height: 70px;
    width: 70px;
    left: 300px;
  }
}
@-webkit-keyframes rotation-img {
  0% {
    top: 450px;
    height: 70px;
    width: 70px;
    left: 300px;
    transform: rotate(0deg);
  }
  50% {
    top: 450px;
    height: 70px;
    width: 70px;
    left: 540px;
    transform: rotate(360deg) scale(1, 1);
    border-radius: 50%;
  }
  100% {
    top: 700px;
    height: 70px;
    width: 70px;
    left: 540px;
    transform: rotate(360deg) scale(2, 2);
    border-radius: 0;
  }
}
@keyframes rotation-img {
  0% {
    top: 450px;
    height: 70px;
    width: 70px;
    left: 300px;
    transform: rotate(0deg);
  }
  50% {
    top: 450px;
    height: 70px;
    width: 70px;
    left: 540px;
    transform: rotate(360deg) scale(1, 1);
    border-radius: 50%;
  }
  100% {
    top: 700px;
    height: 70px;
    width: 70px;
    left: 540px;
    transform: rotate(360deg) scale(2, 2);
    border-radius: 0;
  }
}
.container:hover::after {
  -webkit-animation-name: drop, coup-img, rotation-img;
          animation-name: drop, coup-img, rotation-img;
  -webkit-animation-duration: 4s, 3s, 6s;
          animation-duration: 4s, 3s, 6s;
  -webkit-animation-delay: 3.75s, 7.75s, 11s;
          animation-delay: 3.75s, 7.75s, 11s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out, ease-in-out, ease;
          animation-timing-function: ease-out, ease-in-out, ease;
}

.tablet {
  display: flex;
  justify-content: center;
  width: 145px;
  height: 200px;
  flex-wrap: wrap;
}
.tablet:hover .right {
  -webkit-animation-name: right;
          animation-name: right;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.tablet:hover .left {
  -webkit-animation-name: left;
          animation-name: left;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.tablet:hover .pyramid {
  -webkit-animation-name: watter;
          animation-name: watter;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition-duration: 3s;
  transition-delay: 3s;
  background: url(../img/v2_600x600.jpg);
  background-repeat: no-repeat;
  background-size: 0px 0px;
}
.tablet:hover .jet {
  -webkit-animation-name: jet;
          animation-name: jet;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}
.tablet__capsula {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  font-size: 30px;
  font-weight: 700;
}
.tablet__jet {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 60px;
  margin: 0px 0px 0px 0px;
}

.left {
  background-color: red;
  color: #fff;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  transform-origin: top right;
  transition: all 1s ease 0s;
}
@-webkit-keyframes left {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes left {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.right {
  background-color: #fff;
  color: #000;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  transform-origin: top left;
  transition: all 1s ease 0s;
}
@-webkit-keyframes right {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes right {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.pyramid {
  display: flex;
  width: 50px;
  height: 80px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid #fff;
  background-color: rgba(0, 204, 255, 0.168);
  transform-origin: top right;
}
@-webkit-keyframes watter {
  0% {
    background-size: 50px 0px;
    border-bottom: 0px;
  }
  40% {
    background-size: 50px 80px;
    transform: rotate(0deg);
    border-bottom: 60px;
  }
  80% {
    transform: rotate(140deg);
    background-position: top right;
  }
  100% {
    transform: rotate(0deg);
    background-position: top right;
  }
}
@keyframes watter {
  0% {
    background-size: 50px 0px;
    border-bottom: 0px;
  }
  40% {
    background-size: 50px 80px;
    transform: rotate(0deg);
    border-bottom: 60px;
  }
  80% {
    transform: rotate(140deg);
    background-position: top right;
  }
  100% {
    transform: rotate(0deg);
    background-position: top right;
  }
}

.jet {
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
@-webkit-keyframes jet {
  0% {
    border-bottom: 0px solid rgb(158, 124, 155);
  }
  33% {
    border-bottom: 60px solid rgb(158, 124, 155);
    transform: translate(0px, 0px);
  }
  100% {
    height: 0;
    border-bottom: 60px solid rgb(158, 124, 155);
    transform: translate(0px, 65px);
  }
}
@keyframes jet {
  0% {
    border-bottom: 0px solid rgb(158, 124, 155);
  }
  33% {
    border-bottom: 60px solid rgb(158, 124, 155);
    transform: translate(0px, 0px);
  }
  100% {
    height: 0;
    border-bottom: 60px solid rgb(158, 124, 155);
    transform: translate(0px, 65px);
  }
}

.surface {
  width: 450px;
  height: 10px;
  background-color: rgb(63, 63, 63);
  margin: 270px 0px 0px 0px;
}