@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  background-color: #666;
  height: 100%;
  padding: 30px 0px 0px 0px;
}

.header {
  text-align: center;
  margin: 0px 0px 50px 0px;
}

.title {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  margin: 50px 0px 100px 0px;
  color: #fff;
  text-shadow: 10px 10px 30px rgb(67, 35, 181), -10px -10px 30px rgb(153, 45, 200);
  -webkit-text-stroke: 2px rgb(194, 140, 202);
  -webkit-text-fill-color: transparent;
}

.content {
  text-align: center;
}

.sub-title {
  text-align: center;
  color: cadetblue;
  font-size: 25px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.text-input {
  display: block;
  width: 60%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 18px;
  padding: 10px;
  margin: 50px auto 50px auto;
  resize: none;
}

.btn {
  display: inline-block;
  border-radius: 20px;
  background-color: burlywood;
  color: darkslategray;
  font-size: 18px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 10px 20px;
  margin: 0px 15px 0px 15px;
}