// Файл обнуляющих стилей
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import "nullstyle.scss";
body{
	font-family: "Lato";
}

.start {

	&__body {
		width: 1920px;
		height: 1080px;
		margin: 0 auto;
		padding: 165px 0 0px 0 ;
		background: url('../img/bg_header_743.png');
		color: #ffffff;
	}

	&__logotip {
		width: 195px;
		height: 123px;
		margin: 0px auto 165px auto;
	}
	.title {
		text-align: center;
		line-height: 50px;
		margin: 0px 0px 0px 0px;
		p:nth-child(1){
			font-size: 34px;
			font-weight: 900;
			text-transform: uppercase;
		}
		& p:nth-child(2){
			font-size: 26px;
			font-weight: 400;
			text-transform: none;
			letter-spacing: 0.16em;
			opacity: 0.8;
		}
		&::after{
			content: '';
			width: 105px;
			height: 3px;
			background-color: #fff;
			opacity: 0.8;
			margin: 0px 0px 0px -48px;
			position: absolute;
			bottom: 0;
			left: 50%;
		}
	}
	.page {
		text-align: center;
		width: 182px;
		height: 47px;
		border: 1px solid #ffffff;
		margin: 210px auto 0px auto;
		font-size: 16px;
		line-height: 42px;
		letter-spacing: 0.06em;
		font-weight: 500;
		opacity: 0.7;
		position: relative;
		&::after{
			content:'';
			background: url('../img/icons/arrow_down_30.png');
			width: 17px;
			height: 10px;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin: 0px 0px -90px -8px;
		}
	}
}
.nav{
	border-bottom: 2px solid rgba(0, 0, 0, 0.105);
	width: 1920px;
	height: max-content;
	margin: 0px auto;
}

.link{
	max-width: max-content;
	margin: 25px auto;
	& a{
		flex: 0 30%;
		width: max-content;
		font-size: 15px;
		line-height: 1.2;
		letter-spacing: 1px;
		font-weight: 700;
		color:#3c3c3c;
		opacity: 0.7;
		margin: 0px 20px 0px 20px;
		text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.367);
		&:first-child{
			color: #ada074;
			opacity: 0.8;
		}
	}
}

//about
.about {
	width: 1920px;
	height: 732px;
	margin: 0px auto 0px auto;
	&__body {
		max-width: 823px;
		margin: 0 auto;
	}

	&__header {
		margin: 0px 0px 65px 0px;
	}

	&__title {
		margin: 150px 0px 30px 0px;
	}

	&__text {
		max-width: 700px;
		color: #868585;
		font-size: 14px;
		font-weight: 300;
		text-align: center;
		line-height: 25.89px;
		margin: 0 auto;
	}

	&__row {
		display: flex;
		margin: 0 -15px;
	}

	&__colum {
		padding: 0 15px;
		flex: 0 0 33.333%;
	}
}
.title {
	font-size: 34px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 8.95px;
	position: relative;
	text-align: center;
	padding: 0 0 30px 0;
	&::after{
		content: '';
		position: absolute;
		width: 81px;
		bottom: 0;
		left: 50%;
		height: 1px;
		background-color: #000;
		margin: 0px 0px 0px -45px;
	}
}
.item-about {
	&__icon {
		margin: 0px auto 40px auto ;
		border-radius: 50%;
		width: 92px;
		height: 92px;		
		border: 2px solid #f1f1f1;
		display: flex;
		align-items:center;
		justify-content:center;
	}

	&__title {
		text-align: center;
		color: #000;
		font-size: 22px;
		text-transform: uppercase;
		letter-spacing: 3.52px;
		margin: 0px 0px 35px 0px;
	}

	&__text {
		text-align: center;
		line-height: 26px;
		font-weight: 300;
		color: #868585;
		margin: 0px 0px 0px 0px;
	}
}

//portfolio
.portfolio {

	&__body {
		width: 1920px;
		height: 1671px;
		background-color: #f3f3f3;
		margin: 0px auto 0px auto;
	}

	&__header {
		padding: 100px 0 0 0 ;
	}

	&__title {
		margin: 0px 0px 50px 0px;
	}

	&__list {
		width: 1140px;
		height: max-content;
		margin: 150px auto 0px auto;
		.page {
			text-align: center;
			color: #000;
			width: 182px;
			height: 47px;
			border: 1px solid #000f;
			margin: 50px auto 0px auto;
			font-size: 16px;
			line-height: 42px;
			letter-spacing: 0.06em;
			opacity: 0.5;
			font-weight: 500;
		}
	}
	&__photo{
		display: inline-block;
		width: 538px;
		height: 365px;
		background-color: #eaeaea;
		margin: 0px 0px 10px 20px;
	}
}

//partners
.partners {

	&__body {
		width: 1920px;
		height: 400px;
		margin: 0 auto;
		background: url('../img/bg_header_copy_884.png') bottom;
	}

	&__our {
		max-width: max-content;
		margin: 0px auto 100px auto;
		padding: 100px 0 0 0 ;
		font-size: 30.4px;
		letter-spacing: 0.06em;
		color: #ffffff8b;
		font-weight: 300;
	}

	&__row {
		width: max-content;
		margin: 0 auto;
	}

	&__icon {
		display: inline-block;
		margin: 0px 50px 0px 50px;
	}
}

//contact
.contact {

	&__body {
		width: 1920px;
		margin: 0 auto;
		padding: 150px 0 150px 0 ;
	}

	&__title {
		margin: 0 0 100px 0;
	}

	&__row {
		width: 950px;
		height: max-content;
		margin: 0 auto;
	}

	&__user {
		width: max-content;
		height: max-content;
		display: inline-block;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.347);
		font-size: 14px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.06em;
	}

	&__box{
		width: 161px;
		height: 35px;
		background-color: #f8f7f7;
		margin: 15px 0 15px 0;
		border-top: 2px solid rgba(0, 0, 0, 0.41);
	}

	&__username{
		display: inline-block;
		margin: 0 30px 50px 30px;
	}

	&__usermail{
		display: inline-block;
		margin: 0 30px 50px 30px;
	}

	&__message{
		margin: 0px 0px 0px 30px;
	}
	&__message-box{
		width: 383px;
		height: 118px;
		background-color: #f8f7f7;
		margin: 15px 0px 30px 0px;
		border-top: 2px solid rgba(0, 0, 0, 0.41);
	}

	&__send{
		width: max-content;
		height: max-content;
		font-size: 14px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.06em;
		margin: 0px 0px 0px 375px;
	}

	&__avtor {
		width: 300px;
		height: 300px;
		display: inline-block;
		margin: 0px 0px 0px 50px;
		position:absolute;
	}

	&__colum-text {
		font-size: 14px;
		line-height: 26px;
		font-weight: 300;
		margin: 0px 0px 20px 0px;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.347);
	}

	&__colum-name {
		font-weight: 700;
		margin: 0px 0px 15px 0px;
	}

	&__colum-icon {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 2px solid;
		background-color: #f8f7f7;
		margin: 0px 10px 10px 0px;
		display: inline-flex;
		align-items:center;
		justify-content:center;
		a{
			font-size: 20px;
			color: #000;
			font-weight: 700;
		}
	}

	&__colum-mail {
		font-size: 14px;
		font-weight: 300;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.347);
		a{
			color: #000;
			font-weight: 700;
		}
	}
}

//footer
.footer {

	&__body {
		width: 1920px;
		height: 274px;
		margin: 0 auto;
		background-color: #3c3c3c;width: 1920px;
		padding: 40px 0 0 0 ;
	}

	&__logotip {
		width: 122px;
		height: 78px;
		margin: 0px auto 40px auto;
	}

	&__nav {
			max-width: max-content;
			margin: 0px auto 40px auto;
			& a{
				flex: 0 30%;
				width: max-content;
				margin: 0px 20px 0px 20px;
				text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.367);
				color: #a4a4a4ab;
				
			}
	}

	&__text {
		width: max-content;
		height: max-content;
		margin: 0 auto;
		color: #6c6c6c;
		font-family: Arial, Helvetica, sans-serif;
		letter-spacing: 1px;
	}
}