*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
body{
    font-family: Arial;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    color: #000000;
}
.example-block {
    width: 600px;
    margin: 50px;
}
.example-string {
    margin-left: 50px;
}
.fit-content{
    width: fit-content;
    margin: 50px 50px 50px 50px;
    height: 100px;
}
.inline{
    margin-left: 50px;
    display: inline;
}
.block{
    margin-left: 50px;
    
}
.inline-block{
    width: fit-content;
    display: inline-block;
    margin: 50px;
    padding: 40px 0px 40px;
}