@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "lato";
}

.wraper {
  max-width: 1600px;
  margin: 0 auto;
}

.main {
  height: 800px;
  background: url(../img/bg_2.jpg) 50% 50%/cover no-repeat;
  padding: 40px 0 0 0;
}
@media (max-width: 1600px) {
  .main {
    padding: 30px 0 0 0;
    height: 700px;
  }
}
@media (max-width: 1200px) {
  .main {
    padding: 20px 0 0 0;
    height: 600px;
  }
}
@media (max-width: 992px) {
  .main {
    padding: 10px 0 0 0;
    height: 500px;
  }
}
@media (max-width: 767px) {
  .main {
    padding: 10px 0 0 0;
    height: 300px;
  }
}
.main__column {
  display: flex;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .container {
    max-width: 600px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 500px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 400px;
  }
}

.main-menu {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
}

.main-menu-list {
  display: flex;
  min-width: 220px;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .main-menu-list {
    max-width: 200px;
  }
}
@media (max-width: 992px) {
  .main-menu-list {
    min-width: 180px;
  }
}
@media (max-width: 767px) {
  .main-menu-list {
    min-width: 160px;
  }
}

.logo {
  display: flex;
  max-width: 100%;
  margin: 10px 0px 0px 0px;
}
@media (max-width: 1200px) {
  .logo {
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .logo {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .logo {
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .logo img {
    max-width: 90%;
  }
}
@media (max-width: 992px) {
  .logo img {
    max-width: 70%;
  }
}
@media (max-width: 767px) {
  .logo img {
    max-width: 50%;
  }
}

.generation {
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  padding: 117px 0;
  background-color: #f7f7f7;
}
@media (max-width: 1600px) {
  .generation {
    padding: 80px 0;
  }
}
@media (max-width: 1200px) {
  .generation {
    padding: 60px 0;
  }
}
@media (max-width: 992px) {
  .generation {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  .generation {
    padding: 20px 0;
  }
}
.generation__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (max-width: 1200px) {
  .generation__icon img {
    max-width: 90%;
  }
}
@media (max-width: 992px) {
  .generation__icon img {
    max-width: 70%;
  }
}
@media (max-width: 767px) {
  .generation__icon img {
    max-width: 50%;
  }
}
.generation__title {
  margin: 34px 0;
}
@media (max-width: 992px) {
  .generation__title {
    margin: 25px;
  }
}
@media (max-width: 767px) {
  .generation__title {
    margin: 15px;
  }
}
.generation__text {
  font-size: 18px;
  line-height: 34px;
  color: #848789;
}
@media (max-width: 767px) {
  .generation__text {
    font-size: 14px;
    line-height: 24px;
  }
}

.container-gen {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 25px;
}

.title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}

.vintage__image {
  display: flex;
  max-width: 66.666%;
}
.vintage__image img {
  max-width: 100%;
}
@media (max-width: 1200px) {
  .vintage__image img {
    min-width: 100%;
  }
}
@media (max-width: 1200px) {
  .vintage__image {
    min-width: 100%;
  }
}
.vintage__column {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 33.333%;
}
.vintage__column img {
  flex: 1 1 auto;
}
@media (max-width: 1200px) {
  .vintage__column {
    max-width: 50%;
  }
  .vintage__column:last-child {
    display: none;
  }
}
@media (max-width: 767px) {
  .vintage__column {
    max-width: 100%;
  }
  .vintage__column:last-child {
    display: flex;
  }
}
.vintage__image-small {
  display: flex;
}
.vintage__image-small img {
  max-width: 100%;
}
@media (max-width: 1200px) {
  .vintage__image-small img {
    min-width: 100%;
  }
}

.container-vin {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .container-vin {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .container-vin {
    display: block;
  }
}

.body-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8% 30px 8% 30px;
  flex: 1 1 auto;
}

.icon-column {
  margin: 0 0 8% 0;
}
.text-column {
  font-size: 16px;
  line-height: 29px;
  color: #848789;
  text-align: center;
  margin: 25px 0px 0 0px;
  padding: 0 0 20px 0;
  position: relative;
}
.text-column::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: rgba(0, 6, 8, 0.2);
  position: absolute;
  margin: 0px 0px 0px -20px;
  bottom: 0;
  left: 50%;
}
@media (max-width: 767px) {
  .text-column {
    font-size: 14px;
    line-height: 24px;
  }
}

.tvit {
  display: flex;
  padding: 5% 0;
  background-color: #f7f7f7;
}
.tvit__icon-tvit {
  max-width: 100%;
}
.tvit__title-tvit {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
  margin: 4% 0;
}
.tvit__title-tvit p {
  display: inline-block;
}
.tvit__title-tvit p:last-child {
  font-weight: 300;
  color: #848789;
}
@media (max-width: 767px) {
  .tvit__title-tvit {
    font-size: 14px;
    line-height: 24px;
  }
}
.tvit__text {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}
@media (max-width: 767px) {
  .tvit__text {
    font-size: 18px;
    line-height: 24px;
  }
}

.container-gen {
  text-align: center;
}

.photo__column {
  display: flex;
  flex-direction: column;
  max-width: 33.333%;
  flex: 1 1 auto;
}
.photo__image {
  display: flex;
  flex: 1 1 auto;
}
.photo__image img {
  max-width: 100%;
}
.photo__image-2 {
  display: flex;
}

.container-photo {
  display: flex;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 5% 0;
  background-color: #282f35;
}
.button-container__button {
  display: flex;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  border: 3px solid rgba(255, 255, 255, 0.3176470588);
  padding: 20px 50px;
}
@media (max-width: 1200px) {
  .button-container__button {
    padding: 15px 30px;
  }
}
.button-container__name {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 0.6941176471);
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6% 0;
}
.input-container__text {
  margin: 40px 0;
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
  color: #848789;
}
.input-container__input {
  display: flex;
}
.input-container__textarea-container {
  display: flex;
  align-items: center;
  width: 400px;
  height: 69px;
  border: 1px solid #d3d7d9;
  margin: 0px 15px 0px 0px;
  padding: 0 0 0 10px;
}
.input-container__textarea {
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
  color: #929292;
}
.input-container__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  height: 69px;
  background-color: #64c29e;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 5% 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
}
.footer__text {
  display: flex;
  flex-direction: column;
  color: #848789;
  line-height: 17px;
}
.footer__text :first-child {
  font-size: 16px;
  font-weight: 700;
}
.footer__text p {
  font-size: 13.9px;
  font-style: italic;
}
.footer__link {
  display: flex;
}
.footer__handcraft {
  display: flex;
  align-items: center;
}

.footer-link {
  margin: 0px 5px;
}

.handcraft-text {
  font-size: 13.9px;
  line-height: 17px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  margin: 0px 10px 4px 0px;
}