// Файл обнуляющих стилей

@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');

@import "nullstyle.scss";

body{
	font-family: "lato";
}

.wraper{
	max-width: 1600px;
	margin: 0 auto;
}

.main {
	height: 800px;
	background: url(../img/bg_2.jpg) 50% 50%/cover no-repeat;
	padding: 40px 0 0 0;

	@media (max-width:1600px) {
		padding: 30px 0 0 0;
		height: 700px;
	}
	@media (max-width:1200px) {
		padding: 20px 0 0 0;
		height: 600px;
	}

	@media (max-width:992px) {
		padding: 10px 0 0 0;
		height: 500px;
	}

	@media (max-width:767px) {
		padding: 10px 0 0 0;
		height: 300px;
	}

	&__column {
		display: flex;

	}
}

.container {
	max-width: 700px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width:1200px){
		max-width: 600px;
	}
	@media (max-width:992px){
		max-width: 500px;
	}
	@media (max-width:767px){
		max-width: 400px;
	}
	
}
.main-menu {
	font-size: 13px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #4d4959;

}
.main-menu-list {
	display:flex;
	min-width: 220px;
	justify-content: space-between;

	@media (max-width:1200px){
		max-width: 200px;
	}
	@media (max-width:992px){
		min-width: 180px;
	}
	@media (max-width:767px){
		min-width: 160px
	}
}
.logo {
	display: flex;
	max-width: 100%;
	margin: 10px 0px 0px 0px;

	@media (max-width:1200px){
		justify-content: center;
	}

	@media (max-width:992px) {
		justify-content: center;

	}
	@media (max-width:767px){
		justify-content: center;
	}

	img{
		@media (max-width:1200px) {
			max-width: 90%;
		}
		@media (max-width:992px) {
			max-width: 70%;
		}
		@media (max-width:767px){
			max-width: 50%;
		}
	}
}

//

.generation {
	max-height: max-content;
	padding: 117px 0;
	background-color: #f7f7f7;

	@media (max-width:1600px) {
		padding: 80px 0
	}
	@media (max-width:1200px) {
		padding: 60px 0
	}

	@media (max-width:992px) {
		padding: 40px 0
	}

	@media (max-width:767px) {
		padding: 20px 0
	}

	&__column {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}


	&__icon {
		img{
			@media (max-width:1200px) {
				max-width: 90%;
			}
			@media (max-width:992px) {
				max-width: 70%;
			}
			@media (max-width:767px){
				max-width: 50%;
			}
		}
	}
	

	&__title {
		margin: 34px 0;
		@media (max-width:992px) {
			margin: 25px;
		}
		@media (max-width:767px){
			margin: 15px;
		}
	}

	&__text {
		font-size: 18px;
		line-height: 34px;
		color: #848789;

		@media (max-width:767px){
			font-size: 14px;
		}

	}
}

.container-gen {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 25px;

}
.title {
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #353738;


	@media (max-width:767px){
		font-size: 14px;
	}
}

//

.vintage {
	

	&__image {
		display: flex;
		img{
			 max-width: 100%;
			 @media (max-width:1200px) {
				min-width: 100%;
			}
		}
	}	

	&__column {
		max-width: 33.333%;
		display: flex;
		flex-direction: column;

		@media (max-width:1200px) {
			max-width: 50%;
		}
	}


	&__body {
	}

	&__icon {
	}

	&__title {
	}

	&__text {
	}

	&__image-small {
		img{
			max-width: 100%;
			@media (max-width:1200px) {
				min-width: 100%;
			}
		}
	}
}
.container-vin {
	display: flex;
	@media (max-width:1200px) {
		display: block;
	}

	
}
.body-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10% 30px;
	flex: 1 1 auto;
	
}
.icon-column {
	margin: 0 0 10% 0;
	img{
		@media (max-width:767px){
			max-width: 70%;
		}
	}

}
.title {
}
.text-column {
	font-size: 16px;
	line-height: 29px;
	color: #848789;
	text-align: center;
	margin: 25px 0px 0 0px;
	padding: 0 0 20px  0;
	position: relative;
	&::after{
		content: '';
		width: 50px;
		height: 2px;
		background-color: rgba(0, 6, 8, 0.2);
		position: absolute;
		margin: 0px 0px 0px -20px;
		bottom: 0;
		left: 50%;
	}
}


